/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #56a8c8;
    color: #080808;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #0f0c0c;
    text-decoration: none;
}

/* Home Page Styles */
.home-section {
    background-image: url(https://en.idei.club/uploads/posts/2024-01/thumbs/1704433962_en-idei-club-p-light-blue-girl-room-interer-vkontakte-62.jpg);
    background-size: cover;
    background-position: center;
    color: #111010;
    text-align: center;
    padding: 100px 0;
}

.home-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.home-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Room Listing Page Styles */
.rooms-section {
    background-color: #f0f1f1;
    padding: 5px 0;
    text-align: center;
}

.rooms-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.room {
    margin-bottom: 30px;
    background-color: #a0d2d6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* Room Details Page Styles */
.room-details-section {
    padding: 50px 0;
    text-align: center;
}

.room-details-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.room-details-section img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Gallery Page Styles */
.gallery-section {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.gallery-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.gallery-images img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

